root = true

[*]
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.{ts,tsx,js,jsx,json,css}]
indent_style = space
indent_size = 2

[*.rs]
indent_style = space
indent_size = 2
