/** Border-box is often easier to use. */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
main {
  width: 100%;
  width: -webkit-fill-available;
  height: 100%;
  height: -webkit-fill-available;
  margin: 0;
  /* user-select needed to prevent highlighting on long taps on iOS. */
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

body {
  display: flex;
  flex-direction: column;
}

.main-canvas {
  width: 100vw;
  width: -webkit-fill-available;
  height: 100vh;
  height: -webkit-fill-available;
}

.main-ui {
  /* Make the ui float on top. */
  position: fixed;
  top: 3px;
  left: 3px;
  background-color: hsla(220, 100%, 0%, 0.5);
  color: hsla(220, 100%, 100%, 1.0);
  display: flex;
  flex-direction: column;
  /* Needed because the virtual joystick overrides z-index. */
  z-index: 100;
  padding: 2px 4px;
  border-radius: 2px;
  font-family: sans-serif;
}

/** Title of the collapsible block. */
details.main-ui summary {
  font-size: large;
}

.speed-indicator {
  position: fixed;
  bottom: 3px;
  right: 3px;
  background-color: hsla(220, 100%, 0%, 0.5);
  color: hsla(220, 100%, 100%, 1.0);
  font-size: x-large;
  font-family: sans-serif;
  padding: 2px 4px;
  border-radius: 2px;
}
