/** Border-box is often easier to use. */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
main {
  width: 100%;
  width: -webkit-fill-available;
  height: 100%;
  height: -webkit-fill-available;
  margin: 0;
}

.main-canvas {
  width: 100vw;
  width: -webkit-fill-available;
  height: 100vh;
  height: -webkit-fill-available;
}

.main-ui {
  /* Make the ui float on top. */
  position: fixed;
  background-color: hsla(220, 100%, 0%, 0.5);
  color: hsla(220, 100%, 100%, 1.0);
  display: flex;
  flex-direction: column;
  /* Needed because the virtual joystick overrides z-index. */
  z-index: 100;
}
